{% extends 'customer/master_customer.html' %}
{% load static %}

{% block title %}
<title>Change Password</title>
<link rel="stylesheet" href="{% static 'style/cust_change_pwd.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h1>CHANGE PASSWORD </h1><br>
    <p>Enter your details to change your password</p>

    <form method="POST" id="form_id">
        <span>{{message}}</span>
        {% csrf_token %}
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Old password</label>
            <input type="password" class="form-control" id="old_password_Field" name="old_password">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">New password</label>
            <input type="password" class="form-control" id="new_password_Field" name="new_password">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="confirm_password_Field" name="confirm_password">
        </div>

        <button type="submit" class="btn btn-success">Change password</button>
    </form>
</div>
{% endblock %}