{% extends 'customer/master_customer.html' %}
{% load static %}

{% block title %}
<title>Home</title>
{% endblock %}

{% block content %}
<h6 style="color: rgb(61, 87, 126);"> Welcome To ShopEhuB, {{customer_data.c_name | title}} </h6>
<div class="maindiv" style="display: inline-flex;">
    <div class="image_div" style="margin-left: 200px;">
        <img src="{% static 'images/standing_man.png' %}" height="500px" width="400px" alt="" class="imagediv2">
    </div>
    <div class="sale_main_heading" style="margin-top: 140px;">
        <div class="sale_heading">
            <h6><i>Summer Sale</i></h6>
        </div>
        <div class="yahyasample">
            <h1>Men's Clothing</h1>
        </div>
        <h4>UP TO 50% OFF</h4>
        <button class="btn btn-warning" type="submit"> <b>Shop Now !!</b></button>
    </div>
</div>
<div class="container">
    <div class="row">
        {% for prdct in product_data %}
        <div class="col-md-4">
            <div class="card" style="width: 18rem;margin: 1%;">
                <img src="{{prdct.p_image.url}}" class="card-img-top" alt="..." height="250px">
                <div class="card-body">
                    <h5 class="card-title"> {{ prdct.p_name | title}} </h5>
                    <p class="card-text">{{ prdct.p_description | title}}</p>
                    <h6 class="card-title">₹{{ prdct.p_price }}</h6>
                    <h6 class="card-title">{{ prdct.seller.s_name | title}}</h6>
                    <a href="{% url 'customer:productdetails' prdct.id %}" class="btn btn-success">View</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}