{% extends 'customer/master_customer.html' %}
{% load static %}

{% block title %}
<title>Customer Profile</title>
<link rel="stylesheet" href="{% static 'style/cust_profile.css' %}">
{% endblock %}

{% block content %}

<div class="container">
    <h1>CUSTOMER PROFILE</h1>
    <p>Enter your profile details </p>

    <div id="main_div">
        <div>
            <label for="inputEmail4" class="form-label">Name</label>
            <input type="text" class="form-control" id="inputEmail4" name="customer_name"
                value="{{ customer_profile.c_name | title}}" readonly>
        </div>
        <div>
            <label for="inputPassword4" class="form-label">Mobile Number</label>
            <input type="text" class="form-control" id="inputPassword4" name="customer_mobile"
                value="{{ customer_profile.c_mobile }}" readonly>
        </div>
        <div>
            <label for="inputEmail4" class="form-label">Email</label>
            <input type="text" class="form-control" id="inputEmail4" name="customer_phone"
                value="{{ customer_profile.c_email }}" readonly>
        </div><br>
        <a><button class="btn btn-success">Update Profile</button></a>
        <a href="{% url 'customer:changepassword' %}"><button class="btn btn-danger">Change Password</button></a>
    </div>
</div>
{% endblock %}