{% extends 'customer/master_customer.html' %}
{% load static %}

{% block title %}
<title>Home</title>
<link rel="stylesheet" href="{% static 'style/cust_home_style.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        {% for prdct in product_data %}
        <div class="col-md-4">
            <div class="card">
                <img src="{{prdct.p_image.url}}" class="card-img-top">
                <div class="popup">
                    <h5 class="card-title"> {{ prdct.p_name | title}} </h5>
                    <p class="card-text">{{ prdct.p_description | title}}</p>
                    <h6 class="card-title">₹{{ prdct.p_price }}</h6>
                    <a href="{% url 'customer:productdetails' prdct.id %}" class="btn btn-warning">View</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script>

    const cards = document.querySelectorAll('.card');

    cards.forEach(card => {
        card.addEventListener('mouseenter', showPopup);
        card.addEventListener('mouseleave', hidePopup);
    });

    function showPopup() {
        this.querySelector('.popup').style.opacity = '1';
    }

    function hidePopup() {
        this.querySelector('.popup').style.opacity = '0';
    }


</script>
{% endblock %}