{% extends 'customer/master_customer.html' %}
{% load static %}

{% block title %}
<title>My Cart</title>
{% endblock %}

{% block content %}

<div class="container" style="margin-bottom: 50px;">
    <h1>MY CART</h1><br>
    <div>
        <table class="table" style="border: 1px;">
            <thead>
                <th>
                    Product Image
                </th>
                <th>
                    Product Name
                </th>
                <th>
                    Product Category
                </th>
                <th>
                    Product Price
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Total Price
                </th>
            </thead>
            <!-- {{cart_items}} -->
            {% for item in cart_items %}
            <tr>
                <td>
                    <img src="{{item.product.p_image.url}}" width="75px">
                </td>
                <td>
                    {{item.product.p_name}}
                </td>
                <td>
                    {{item.product.p_category}}
                </td>
                <td>
                    {{item.product.p_price}}
                </td>
                <td>
                    <input type="number" id="qty" onchange="getTotal('{{item.product.p_price}}')"
                        max="{{item.product.p_stock}}" min="1">
                </td>
                <td>
                    {{item.product.p_price}}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <label for="">Total Amount</label>
    <input type="text" name="" id=""><br><br>
    <button class="btn btn-warning">Place Order</button>
</div>

<script>

    function getTotal(price) {
        let qty = document.getElementById('qty').value
        let total = parseFloat(price) * parseFloat(qty)
        console.log(total)
    }

</script>
{% endblock %}