{% extends 'customer/master_customer.html' %}
{% load static %}

{% block title %}
<title>Your Cart</title>
<link rel="stylesheet" href="{% static 'style/cart_style.css' %}">

{% endblock %}

{% block content %}
<div class="cart_heading_div">

    <h2>Cart</h2>
    <p>

        <a href="{% url 'customer:home' %}">Home</a> |
        <a href="#">Cart</a>

    </p>

</div>

<div class="container">
    <div class="table_div">
        <table class="table">
            <thead>
                <th>
                    Product Image
                </th>
                <th>
                    Product Name
                </th>
                <th>
                    Product Category
                </th>
                <th>
                    Product Price
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Total Price
                </th>
            </thead>
            <!-- {{cart_items}} -->
            {% for item in cart_items %}
            <tr data-item-id="{{ item.product.id }}">
                <td>
                    <img src="{{ item.product.p_image.url }}" width="65px">
                </td>
                <td class="Product_name">
                    {{ item.product.p_name |title}}
                </td>
                <td>
                    {{ item.product.p_category }}
                </td>
                <td>
                    ₹ {{ item.product.p_price }}
                </td>
                <td class="quantity">
                    {% csrf_token %}
                    <input type="number" id="qty" min="1" data-item="{{ item.product.id }}" style="width: 50px;"><br>
                    <span id="stock_error"></span>
                    <span id="stock_success"></span>
                </td>
                <td>
                    ₹ {{item.product.p_price}}
                </td>
                <td class="cart_delete">
                    <a href="#" class="delete-link">
                        <p>Delete</p>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="amount_div">

        <table class="amount_table">

            <tr>
                <td>Subtotal</td>
                <td>₹100</td>
            </tr>
            <tr>
                <td>Salestax</td>
                <td>₹100</td>
            </tr>
            <tr>
                <td>Coupon Code</td>
                <td><a href="">Add Coupon</a></td>
            </tr>
            <tr>
                <td>Grandtotal</td>
                <td>₹1000</td>
            </tr>



        </table>
        <div>
            <button class="btn btn-success">Checkout</button>
        </div>




    </div>
</div>

<script>

    // function getTotal(price) {
    //     let qty = document.getElementById('qty').value
    //     let total = parseFloat(price) * parseFloat(qty)
    //     console.log(total)
    // }

    $(document).ready(function () {
        $.ajaxSetup({
            headers: {
                "X-CSRFToken": $('[name=csrfmiddlewaretoken]').val()
            }
        })

        $('#qty').change(function () {

            $.ajax({

                type: 'POST',
                url: "{% url 'customer:change_quantity' %}",
                data: {
                    'product_id': $(this).attr('data-item'),
                    'quantity': $(this).val()
                },


                success: function (response) {
                    let error = response.error_msg
                    // let success = response.success_msg
                    if (error == "In stock") {
                        $('#stock_error').html(error)
                        $('#stock_error').css('color', 'green')

                    } else {
                        $('#stock_error').html(error)
                        $('#stock_error').css('color', 'red')
                    }
                    $('#stock_error').html(error)
                    // $('#stock_success').html(success)


                }
            })
        })
    })

</script>
{% endblock %}



<!-- onchange="getTotal('{{item.product.p_price}}')"
                        max="{{item.product.p_stock}}" -->