{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <title>Product Details</title>
</head>

<body>
    
    <div class="card" style="width: 700px;margin-top: 120px;margin-left: 250px;">
        <form method="POST">
            {% csrf_token %}
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{ product.p_image.url }}" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.p_name }}</h5>
                        <p class="card-text">{{ product.p_description }}</p>
                        <p class="card-text">{{ product.p_stock }} Pieces Left !!</p>
                        <button type="submit" class="btn btn-primary">Add To Cart</button>
                    </div>
                </div>
            </div>
            <span style="color: red;"><i>{{ msg }}</i></span>
        </form>
    </div>
</body>

</html>