{% extends 'seller/master_seller.html' %}
{% load static %}

{% block title %}
<title>Add Product</title>
<link rel="stylesheet" href="{% static 'style/add_product_style.css' %}">
{% endblock %}

{% block content %}
<h1>ADD PRODUCT</h1><br>
<div class="container">
    <form method="POST" enctype="multipart/form-data" id="form_id">
        {% csrf_token %}
        {{success_message}}
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Product Name</label>
            <input type="text" class="form-control" id="nameField" name="p_name">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Product Description</label>
            <textarea class="form-control" id="descriptionField" rows="1" name="p_description"></textarea>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Product Category</label>
            <input type="text" class="form-control" id="categoryField" name="p_category">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Product Number</label>
            <input type="text" class="form-control" id="numberField" name="p_number">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Current Stock</label>
            <input type="text" class="form-control" id="stockField" name="p_current_stock">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Price</label>
            <input type="text" class="form-control" id="priceField" name="p_price">
        </div>
        <label for="exampleFormControlInput1" class="form-label">Product Image</label>
        <div class="input-group mb-3">
            <input type="FILE" class="form-control" id="inputGroupFile02" name="p_image">
            <label class="input-group-text" for="inputGroupFile02">Upload</label>
        </div>
        <button type="submit" class="btn btn-success">Submit Product</button>
    </form>
</div>
<br>
{% endblock %}