{% extends 'seller/master_seller.html' %}
{% load static %}

{% block title %}
<title>Change Password</title>
<link rel="stylesheet" href="{% static 'style/seller_change_pwd.css' %}">
{% endblock %}

{% block content %}
<h1>CHANGE PASSWORD</h1><br>
<div class="container">
    <form method="POST" id="form_id">
        {% csrf_token %}
        {{password_message}}
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">old password</label>
            <input type="password" class="form-control" name="old_password">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">new password</label>
            <input type="password" class="form-control" name="new_password">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">confirm Password</label>
            <input type="password" class="form-control" name="confirm_password">
        </div>

        <button type="submit" class="btn btn-success">Change password</button>
        {{ error }} {{ success }}
    </form>
</div>
{% endblock %}