{% extends 'seller/master_seller.html' %}
{% load static %}

{% block title %}
<title>Update Stock</title>
<link rel="stylesheet" href="{% static 'style/update_stock_style.css' %}">

{% endblock %}

{% block content %}
<h1>UPDATE STOCK</h1><br>
<div class="container">
    <form method="POST" id="form_id">
        {% csrf_token %}
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Product No</label>
            <select name="p_number" id="product" class="form-control" data-bs-toggle="dropdown" aria-expanded="false">
                {% for product in products %}
                <option value="{{product.id}}">{{ product.p_name | title }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Current Stock</label>
            <input type="text" class="form-control" id="stock_field" name="p_category">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">New Stock</label>
            <input type="number" class="form-control" id="categoryField" name="new_stock" min="1">
        </div>
        <button type="submit" class="btn btn-success">Update</button>
    </form>
</div>
<script>
    $(document).ready(function () {
        $.ajaxSetup({
            headers: {
                "X-CSRFToken": $('[name=csrfmiddlewaretoken]').val()
            }
        })

        $('#product').change(function () {

            $.ajax({

                type: 'POST',
                url: "{% url 'seller:stock_update' %}",
                data: {
                    'product_id': $(this).val()
                },


                success: function (response) {

                    let res = response.stock
                    $('#stock_field').val(res)
                }
            })
        })
    })

</script>
{% endblock %}