{% extends 'seller/master_seller.html' %}
{% load static %}

{% block title %}
<title>View Product</title>
{% endblock %}

{% block content %}
<br><br>
{% for prdct in product_message %}
<div class="card" style="width: 18rem;">
    <img src="{{prdct.p_image.url}}" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title"> {{prdct.p_name}} </h5>
        <p class="card-text">{{prdct.p_description}}</p>
        <h6 class="card-title">{{prdct.p_price}}</h6>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>
{% endfor %}

{% endblock %}