{% extends 'ecom_admin/admin_master.html' %} 


{% block content %}

<div class="placed_div">
    <div class="container row">
        <div class="col">
            <span>
                THE SUCCESS STORIES
            </span>
            <h3>
                Placed Candidates
            </h3>
        </div>
        <div class="col">
            <button class="btn btn-danger">Placements</button>
        </div>
    </div>
    <div class="row placement_row_div">
        <div class="col-lg-3 placed_stud_div">
            <!-- <img src="{% static 'images/flag.png' %}" alt="" width="200px"> -->
            <h5>Anupama TM</h5>
            <p>Software Trainer Trainee <br> Baabte System Technologies
            </p>
        </div>
        <div class="col-lg-3 placed_stud_div">
            <!-- <img src="{% static 'images/flag.png' %}" alt="" width="200px"> -->
            <h5>Suvarna Murali</h5>
            <p>Software Trainer Trainee <br> Baabte System Technologies
            </p>
        </div>
        <div class="col-lg-3 placed_stud_div">
            <!-- <img src="{% static 'images/flag.png' %}" alt="" width="200px"> -->
            <h5>Athira MJ</h5>
            <p>Software Trainer Trainee <br> Baabte System Technologies
            </p>
        </div>
        <div class="col-lg-3 placed_stud_div">
            <!-- <img src="{% static 'images/flag.png' %}" alt="" width="200px"> -->
            <h5>Muhammed Rishan</h5>
            <p>Software Trainer Trainee <br> Baabte System Technologies
            </p>
        </div>
    </div>

</div>

{%endblock%}
