{% extends 'ecom_admin/admin_master.html' %} 

{% load static %}

{% block title %}
<title>View Sellers</title>
<link rel="stylesheet" href="{% static 'style/view_customer.css' %}">
{% endblock %}


{% block content %}

<div class="container">

    <div class="title_div">

        <h1>VIEW SELLERS</h1>

    </div>

    <div class="table_div">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">IMAGE</th>
                    <th scope="col">NAME</th>
                    <th scope="col">ADDRESS</th>
                    <th scope="col">EMAIL</th>
                    <th scope="col">MOBILE</th>


                </tr>
            </thead>
            <tbody>
                {% for seller in sellers %}
                <tr>
                    <th scope="row">{{ seller.id | title }}</th>
                    <td><img src="{{seller.s_image.url}}" width="80px" height="80px" style="border-radius: 50%;"></td>
                    <td>{{ seller.s_name | title }}</td>
                    <td>{{ seller.s_address | title }}</td>
                    <td>{{ seller.s_email | title }}</td>
                    <td>{{ seller.s_mobile | title }}</td>
                </tr>
                {% endfor %}

            </tbody>
        </table>

    </div>

</div>
{%endblock%}