{% extends 'common/master_common.html' %}
{% load static %}
{% block title %}
<title>Customer Login</title>
<link rel="stylesheet" href="{% static 'style/cust_login_style.css' %}">
{% endblock %}
{% block content %}
<div>
    <div class="container">
        <h1>Customer Login</h1><br>
        <p>Enter your login details to continue</p>
        <form method="POST">
            {% csrf_token %}
            {{message}}
            <div>
                <label for="inputEmail4" class="form-label">Email</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Enter your E-mail Address"
                    name="email">
            </div>
            <div>
                <label for="inputPassword4" class="form-label">Password</label>
                <input type="password" class="form-control" id="inputPassword4" placeholder="Enter your Password"
                    name="password">
            </div>
            <a href="{% url 'common:customer_signup' %}">New to ShopEhuB?</a>
            <a href="#" id="forgot_pwd_id">Forgot Password?</a>
            <br>
            <div>
                <button type="submit" class="btn btn-success" a>Login</button>
            </div><br>
            <h6>
                By continuing, you agree to Shop-E-huB's <br> <a href="#conditions_of_use">Conditions of Use</a>
            </h6>
        </form>
    </div>
</div>
{% endblock %}