{% extends 'common/master_common.html' %}
{% load static %}
{% block title %}
<title>Customer Registration</title>
<script src=" https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E="
    crossorigin="anonymous">
    </script>
<link rel="stylesheet" href="{% static 'style/cust_signup_style.css' %}">
{% endblock %}


{% block content %}
<div>
    <div class="container">
        <h1>
            Customer Sign Up
        </h1>
        <p>Enter your details to Sign Up</p>

        <form method="POST">
            {% csrf_token %}
            <span>{{message}}</span>
            <div>
                <label for="input_name">Your Name</label>
                <input type="text" class="form-control" id="cust_name" placeholder="Enter Your Name"
                    name="customer_name">
            </div>
            <div>
                <label for="input_mobile" class="form-label">Your Mobile Number</label>
                <input type="text" class="form-control" id="cust_mobile" placeholder="Enter Your Mobile Number"
                    name="mobile_number">
            </div>
            <div>
                <label for="input_mobile" class="form-label">Address</label>
                <textarea name="address" class="form-control" id="cust_address" cols="30" rows="3"></textarea>
            </div>
            <div>
                <label for="inputEmail4" class="form-label">Email</label>
                <input type="email" class="form-control" id="cust_email" placeholder="Enter your E-mail Address"
                    name="email">
                <span id="email_err"></span>
            </div>
            <div>
                <label for="inputPassword4" class="form-label">Password</label>
                <input type="password" class="form-control" id="cust_password" placeholder="Atleast 6 characters"
                    name="password">
            </div>
            <div id="radio_div_id">
                <label for="inputPassword4" class="form-label">Gender</label><br>
                <label for="male">male</label>
                <input type="radio" id="male" name="gender" value="male">
                <label for="female">female</label>
                <input type="radio" id="female" name="gender" value="female">
            </div>
            <br>
            <div>
                <button id="btn_submit" type="submit" class="btn btn-success">Sign Up</button>
            </div><br>
            <h6>
                Already a member? <a href="{% url 'common:customer_login' %}">Login</a>  here
            </h6>
        </form>
    </div>
</div>
<!-- <script>

    var cust_name = document.getElementById('cust_name');
    var cust_mobile = document.getElementById('cust_mobile').value;
    var cust_email = document.getElementById('cust_email').value;
    var cust_password = document.getElementById('cust_password').value;
    var s_name = document.getElementById('name_error_msg_id')

    function customer_validation() {



        if (cust_name.value == "") {                                                       //if nothing is entered in the email field
            s_name.innerHTML = "Username must be filled out"; //required error message is inserted to the particular input text
            document.getElementById('cust_name').style.border = '1px solid red';                      //to make the input field's border in to reddish colour
            return false;

        } 
        else{
            s_name.innerHTML = '';                           //since the condition is false the form gets submitted                      
            document.getElementById('cust_name').style.border = '';                      //to make the input field's border in to reddish colour


        }

        // if (cust_name.length < 8) {                                      //if nothing is entered in the email field

        //     document.getElementById('name_error_msg_id').innerHTML = "must be atleast 8 characters"; //required error message is inserted to the particular input text
        //     document.getElementById('cust_name').style.border =  '1px solid red';                      //to make the input field's border in to reddish colour
        //     return false;

        // } else {

        //     document.getElementById('name_error_msg_id').innerHTML = "";                           //since the condition is false the form gets submitted
        //     document.getElementById('cust_name').style.border = "";

        // }

    }

</script> -->
<script>
    $(document).ready(function () {
        $.ajaxSetup({
            headers: {
                "X-CSRFToken": $('[name=csrfmiddlewaretoken]').val()
            }
        })
        $('#cust_email').change(function () {
            var email = $('#cust_email').val()
            $.ajax({
                type: 'POST',
                url: '{% url "common:email_exist" %}',
                data: {
                    'email_data': email
                },
                success: function (response) {

                    let res = response.email_exists
                    if (res == true) {
                        $('#email_err').html('Email exists')
                        $('#email_err').css('color', 'red')
                        $('#btn_submit').attr('disabled', true)

                    }
                    else {
                        $('#email_err').html('')
                        $('#btn_submit').attr('disabled', false)
                    }


                }
            })

        })
    })
</script>
{% endblock %}