{% extends 'common/master_common.html' %}
{% load static %}
{% block title %}
<title>Home</title>
{% endblock %}

{% block content %}

<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'images/image_1.jpg' %}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-md-block">
                <h5>Fashion Sale</h5>
                <p>Get up to 50% off on all fashion items</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{% static 'images/image_2.jpg' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="{% static 'images/image_3.jpg' %}" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


{% endblock %}