{% extends 'common/master_common.html' %}
{% load static %}
{% block title %}
<title>Seller Registration</title>
<link rel="stylesheet" href="{% static 'style/seller_signup_style.css' %}">
{% endblock %}


{% block content %}
<div>
    <div class="container">
        <h1>
            SELLER REGISTRATION
        </h1>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{message}}
            <div>
                <label for="input_name">Your Name</label>
                <input type="text" class="form-control" id="input_name" placeholder="Enter Your Name" name="seller_name">
            </div>
            <div>
                <label for="input_mobile" class="form-label">Your Mobile Number</label>
                <input type="number" class="form-control" id="input_mobile" placeholder="Enter Your Mobile Number" name="seller_mobile">
            </div>
            <div>
                <label for="inputEmail4" class="form-label">Email</label>
                <input type="email" class="form-control" id="inputEmail" placeholder="Enter your E-mail Address" name="seller_email">
            </div>
            <div>
                <label for="inputEmail4" class="form-label">address</label>
                <input type="text" class="form-control" id="inputEmail" placeholder="Enter your Address" name="seller_address">
            </div>
            <div>
                <label for="input_bank_name">Bank Name</label>
                <input type="text" class="form-control" id="input_bank_name" placeholder="Enter Your Bank Name" name="seller_bank_name">
            </div>
            <div>
                <label for="acc_name">Account Number</label>
                <input type="number" class="form-control" id="account_number" placeholder="Enter Your Account Number" name="seller_account_number">
            </div>
            <div>
                <label for="input_branch" class="form-label">Bank Branch</label>
                <input type="text" class="form-control" id="input_branch" placeholder="Enter Your bank branch" name="seller_bank_branch">
            </div>
            <div>
                <label for="input_ifsc" class="form-label">ifsc code</label>
                <input type="text" class="form-control" id="input_ifsc" placeholder="Enter Your ifsc code" name="seller_ifsc">
            </div><br>
            <div class="input-group mb-3">
                <input type="file" class="form-control" id="inputGroupFile02" name="seller_pic">
                <label class="input-group-text" for="inputGroupFile02">Upload</label>
            </div>
            <br>
            <div>
                <button type="submit" class="btn btn-success">Sign Up</button>
            </div><br>
        </form>
    </div>
</div>
{% endblock %}