{% extends 'common/master_common.html' %}
{% load static %}
{% block title %}
<title>Seller Login</title>
<link rel="stylesheet" href="{% static 'style/seller_login_style.css' %}">
{% endblock %}
{% block content %}



<div>


    <div class="container">
        <h1>
            SELLER LOGIN
        </h1>
        <p>Enter your login details to continue</p>
        <form action="" method="POST">
            {% csrf_token %}
            {{message}}
            <div>
                <label for="inputEmail4" class="form-label">User Name</label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="Enter your User Name"
                    name="username">
            </div>
            <div>
                <label for="inputPassword4" class="form-label">Password</label>
                <input type="password" class="form-control" id="inputPassword4" placeholder="Enter your Password"
                    name="password">
            </div>
            <a href="{% url 'common:seller_signup' %}">New to ShopEhuB?</a>
            <br>
            <div>
                <button type="submit" class="btn btn-success text-light">Login</button>
            </div><br>
        </form>
    </div>
</div>
{% endblock %}