div {

    font-family: 'Jost', sans-serif;

}

.cart_heading_div {

    height: 150px;
    background-color: bisque;
    text-align: center;
    padding-top: 30px;

}

.cart_heading_div a {

    text-decoration: none;
    color: rgb(75, 75, 75);

}

.quantity {

    width: 10px;

}

.table_div {

    margin-top: 20px;
    border: 1px solid;

}

.amount_div {

    margin-top: 20px;
    height: 250px;
    background-color: rgb(235, 238, 240);
    padding: 10px;
    padding-left: 40px;

}

.amount_table {

    width: 700px;
    margin-top: 30px;

}

.amount_div button {

    margin-top: 20px;
    border-radius: 0% !important;

}

.Product_name {

    width: 40px;

}

.cart_delete a{

    text-decoration: none;
    color: rgb(135, 131, 131);

}