div {

    font-family: 'Jost', sans-serif;

}

div p {

    text-align: center;
    margin-top: -5px;


}

div div h1 {

    text-align: center;

}

div div {

    display: grid;
    justify-content: center;

}

form div label {

    margin-bottom: 8px;


}

form div input {

    width: 400px !important;
    border-radius: 0% !important;


}

form div textarea {

    width: 400px !important;
    border-radius: 0% !important;


}

form div button {

    padding: 10px 30px !important;
    border-radius: 0% !important;
    margin-left: 280px;
    margin-top: 5px;

}

form a {

    color: green;
    text-decoration: none;

}

form {

    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
    padding: 10px;

}

#rradio_div_id {

    display: inline !important;

}