.main_heading_div {

    text-align: center;
    background-color: black;
    height: 40px;
    color: white;
    padding-top: 10px;

}

.heading_ul {
    margin-top: 5px;
    height: 15px;
}

.heading_ul li {
    color: black;
    display: inline;
}

.heading_ul li a {
    text-decoration: none;
    color: black;
    padding-left: 20px;
}

.heading_ul i {
    color: black;
    display: inline;
    padding-left: 20px;
}

.ul_inside_div {

    display: inline;
    padding-left: 400px;

}

.ul_inside_div a {

    text-decoration: none;

}

.ul_inside_div a i {

    padding-left: 25px;

}

.navbar_div_ul li {

    padding-left: 50px;
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    color: white;

}

.navbar_div_ul li a {

    color: white;

}

.heading_ul li {

    font-family: 'Jost', sans-serif;
    color: white;

}

/* .carousel-caption p {

    color: purple;

} */

#div_id_2 {

    padding-left: 200px;

}

#div_id_2 li {

    padding-left: 5px;

}

#div_id_2 li a i {

    font-size: x-large;

}

#div_id_2 ul li a {

    color: black;

}